:root {

/*--Header Variables--*/

  --header-font      :Tahoma;
  --header-font-size :40px;
  --header-color     :green;

/*--Body Variables--*/

  --body-font        :Times;
  --body-font-size   :20px;
  --body-color       :blue;
}

h1 {
  font-family   : var(--header-font);
  font-size     : var(--header-font-size);
  color         : var(--header-color);
}

p {
  font-family   : var(--body-font);
  font-size     : var(--body-font-size);
  color         : var(--body-color);
}
